body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(203,48,255,1) 0%, rgba(0,212,255,1) 100%);
}

.search_box{
  margin: auto;
  margin-top: 3%;
  width: 90%;
  text-align: center;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid whitesmoke;
  color: whitesmoke;
  padding: 8px 20px 5px 2px;
  font-size: 18px;
  margin-right: 20px;
  outline: none;
}

::placeholder{
  color: whitesmoke;
  font-size: 18px;
  letter-spacing: 2px;
  font-style: italic;
}

button{
  background-color: transparent;
  border: 1px solid whitesmoke;
  padding: 8px 25px;
  letter-spacing: 1px;
  color: whitesmoke;
  font-size: 15px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
}
